<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71707683184-80vd4kcdj6do1e4u5a9qta6sb0q2v46a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71707683184-80vd4kcdj6do1e4u5a9qta6sb0q2v46a</string>
	<key>API_KEY</key>
	<string>AIzaSyAj8UW4I1U1TLBmCEXlQ-ROzoivNbZXCv0</string>
	<key>GCM_SENDER_ID</key>
	<string>71707683184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookingHotel</string>
	<key>PROJECT_ID</key>
	<string>news-app-9bc60</string>
	<key>STORAGE_BUCKET</key>
	<string>news-app-9bc60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71707683184:ios:3dfe6146b7afec00aa87b5</string>
</dict>
</plist>